<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{49,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{49,54}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>hero_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{42,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>hero_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{30,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,56}}</string>
                <key>sourceSize</key>
                <string>{30,58}</string>
            </dict>
            <key>hero_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{22,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,56}}</string>
                <key>sourceSize</key>
                <string>{28,58}</string>
            </dict>
            <key>hero_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,59}}</string>
                <key>sourceSize</key>
                <string>{40,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{193,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b52539ccd7bf35f23f7ed0e06a12b4e:05c3d1a616352b71d185a013a7fde86f:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
